:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--color-gray-900);

  --color-gray-100: #f3f4f6;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-gray-900);
  word-break: break-all;
}

body {
  padding: 1rem;
}

h1,
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

ul {
  margin: 1rem 0;
  padding-left: 2rem;
}

.text-gray-500 {
  color: var(--color-gray-500);
}